@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title class="fs-3">Mon Site One Page</title>
</head>
<body class="bg-primary">
    <section id="accueil">
        <h1 class="text-center">Bienvenue sur Mon Site One Page !</h1>
        <p>Ce site est un exemple de page one page créée avec ASP.NET Core.</p>
    </section>

    <section id="section1">
        <h2>Section 1</h2>
        <p>Contenu de la section 1.</p>
    </section>

    <section id="section2">
        <h2>Section 2</h2>
        <p>Contenu de la section 2.</p>
    </section>

    <!-- Ajoutez d'autres sections au besoin -->

</body>
</html>
